ALTER TABLE coffee_price_history DROP CONSTRAINT IF EXISTS coffee_price_history_changed_by_fkey; ALTER TABLE coffee_price_history ADD CONSTRAINT coffee_price_history_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES users(id);
